@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

header {
  padding: 36px;
  background-color: #fff;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 88px;
  font-size: 23px;
}
header ul li a:hover {
  color: #e0aac9;
}
.container {
  width: 100%;
}
#product {
  padding: 100px 0px;
}

.product-list article {
  width: calc(100% / 3);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.img img {
  margin-bottom: 10px;
  height: 200px;
  padding-top: 20px;
}
.reklam img {
  width: 100%;
  height: 100%;
}

.product-list article p ,
.product-list article h3 {
  padding-top: 5px;
  padding-bottom: 20px;
}
.product-list p {
  color: #a9a9a9;
  font-size: 10px;
}
.product-list h3 {
  color: #242424;
}
.product-list span {
  color: #92cacc;
  font-size: 30px;
}
.product-list article:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.read-more h3 {
  text-align: center;
  padding-block: 30px;
  border: 1px solid #e8e8e8;
  background-color: rgba(242, 245, 249, 0.4);
}
.read-more {
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(242, 245, 249, 0.4);
}
.link article {
  display: flex;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  flex-direction: row;
}
.link article a img {
  width: 100%;
}
.link .network {
  display: flex;
  gap: 30px;
  box-shadow: 0.1rem 0 0 0 #e8e8e8;
  padding-right: 30px;
}
.link .subscribe {
  display: flex;
  border: left 1px black;
}
.link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.subscribe input {
  display: flex;
  align-items: center;
  width: 420px;
  height: 60px;
  gap: 30px;
  font-size: 20px;
  padding-left: 10px;
}
.subscribe button {
  background-color: #acdadc;
  color: #fff;
  text-align: center;
  padding-inline: 15px;
  font-size: 20px;
}
.subscribe button:hover {
  background-color: #75c1c5;
}
.subscribe h3 {
  padding-top: 20px;
  padding-inline: 20px;
}

footer {
  background-color: #242424;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer .center {
  padding-top: 90px;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#slogan {
  width: 100%;
}
.center .main {
  width: 20%;
  font-size: 30px;
}

.center .second {
  width: 70%;
  font-size: 18px;
}
.list {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}
.list div a {
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
}
.list div a:hover {
  color: #acdadc;
  border-color: #acdadc;
}
